{% extends 'base.html.twig' %}

{% block content %}
    <h1>Game edit</h1>
    <div class="btn-group">
    <a title="Back to the list" class="btn btn-primary" href="{{ path('game_index') }}"><i class="fa fa-arrow-circle-left"></i>&nbsp;<span class="adaptiveText">Back to the list</span></a>

    </div>
    {{ form_start(edit_form) }}
    <div class="row">
    <div class="
    col-md-6 col-md-offset-3
    col-sm-6  col-sm-offset-3
    col-lg-6  col-lg-offset-3
    ">
    <div class="panel panel-default">
    <table class="table">
        <tr>
            <td>Game name</td>
            <td>{{ form_widget(edit_form.name) }}</td>
        </tr>
        <tr>
            <td>Game type</td>
            <td>{{ form_widget(edit_form.type) }}</td>
        </tr>
    </table>
    </div>
    </div>
    </div>
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Delete" onClick="return confirm('Are you absolutely sure you want to delete?')">
    {{ form_end(delete_form) }}


{% endblock %}
