{% extends 'base.html.twig' %}

{% block content %}
    <h1>Games list</h1>
    <hr>
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <div class="btn-group pull-right">
                        <a class="btn btn-default btn-sm" href="{{ path('game_new') }}"><i class="fa fa-plus"></i> New game</a>
                    </div>
                </div>
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <th>{{ knp_pagination_sortable(games, 'Name', 'game.name') }}</th>
                            <th>{{ knp_pagination_sortable(games, 'Type', 'type.name') }}</th>
                            <th>Played</th>
                            <th>Actions</th>
                        </tr>
                        {% if games.params.limit is defined and games.params.limit > max_limit_error %}
                            <div class="alert alert-warning text-center">
                                <p>
                                    There was an error (2123).<br>
                                    Please report this to the administrator
                                </p>
                            </div>
                        {% else %}
                            {% for game in games %}
                                <tr>
                                    <td><a href="{{ path('game_show', { 'id': game.id }) }}">{{ game.name }}</td>
                                    <td><a>{{ game.type.name }}</td>
                                    <td><span class="badge">{{ game.playlogs|length }}x</span> </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                        <a class="btn btn-primary" href="{{ path('game_show', { 'id': game.id }) }}"><i
                                                    class="fa fa-search"></i> Show</a>
                                        <a class="btn btn-primary" href="{{ path('game_edit', { 'id': game.id }) }}"><i
                                                    class="fa fa-pencil"></i> Edit</a>
                                        <a class="btn btn-primary" href="{{ path('playlog_new', { 'gameId': game.id }) }}"><i
                                                    class="fa fa-book"></i> Log game </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}

                        {% endif %}
                    </table>
            </div>
        </div>
    </div>
    <div class="navigation text-center">
        {{ knp_pagination_render(games) }}
    </div>
{% endblock %}
