{% extends 'base.html.twig' %}

{% block content %}
    <h1>Games list</h1>
    <div class="panel panel-default">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ path('game_show', { 'id': game.id }) }}">{{ game.name }}</td>
                <td>
                    <a href="{{ path('game_show', { 'id': game.id }) }}">show</a>
          
                    <a href="{{ path('game_edit', { 'id': game.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>

    <ul>
        <li>
            <a href="{{ path('game_new') }}">Create a new game</a>
        </li>
    </ul>
{% endblock %}