{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macro %}

{% block content %}
    <h1>New Game</h1>

    <div class="col-md-4 col-md-offset-4">
        {{ form_start(form) }}
        <table class="table table-bordered">
            <tr>
                <td>
                    Name
                </td>
                <td>
                    {{ form_widget(form.name) }}
                </td>
            </tr>
            <tr>
                <td>
                    Type
                </td>
                <td>
                    {{ form_widget(form.type) }}
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {{ macro.btnSubmit() }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

