{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macro %}
{% block content %}

    <a class="btn btn-primary" href="{{ path('game_index') }}"><i class="fa fa-arrow-left"></i> My Game List</a>
    {% set playlogs = game.playlogs %}
    {% set currentUserId =  app.user.id %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2 ">

            <div class="row">
                <div class="col-md-6 ">
                    <h2>Game: {{ game.name }}</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage|trans }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            {% set gamePlayedCount = [] %}

            {% for playlog in playlogs %}
                {#Get the playlog user_id so we count only the current user's playlogs#}
                {% set playlogUserId =  playlog.getuserid %}
                {% if playlogUserId == currentUserId %}
                    {#Make an array with only the playlogs of the user and the game#}
                    {% set gamePlayedCount = gamePlayedCount|merge([game.id]) %}
                {% endif %}
            {% endfor %}
            <div class="col-md-6">
                <h2>Plays <span class="badge">{{ gamePlayedCount|length }}</span></h2>
                <hr>
                <p>
                <div class="panel panel-default " style="background-color: #BFC9D2">
                    <div class="panel-body">

                        <a id="deleteBtn" class="btn btn-danger" href="#"><i class="fa fa-remove"></i> <span class="adaptiveText">Delete</span></a>
                        <a class="btn btn-primary"
                           href="{{ path('playlog_new', { 'gameId': game.id }) }}"><i class="fa fa-plus"></i> <span class="adaptiveText">Add Play</span>
                        </a>
                    </div>
                </div>
                </p>
                <form>
                    {% if gamePlayedCount|length > 0 %}
                    <div class=" panel panel-body panel-default">
                        <div class="table">
                            <table class="table table-bordered table-responsive table-condensed">
                                <tr>
                                    <td></td>
                                    <td>Date</td>
                                    <td>Expansion</td>
                                </tr>
                                {% for playlog in game.playlogs | sortbyfield("date") |reverse %}
                                    <tr>
                                        <td><input name="playlog" type="checkbox" value="{{ playlog.Id }}"></td>
                                        <td>
                                            {{ playlog.date|date('Y-m-d') }}
                                        </td>
                                        {% set playlogUserId =  playlog.getuserid %}
                                        {% if playlogUserId == currentUserId %}
                                            <td>
                                                <ul>
                                                {% for expansion in playlog.expansions %}
                                                    {% if expansion %}
                                                        <li> {{ expansion.name }}</li>
                                                    {% else %}
                                                        Nope
                                                    {% endif %}
                                                {% endfor %}
                                                </ul>
                                            </td>

                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </form>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        <p>You haven't played this game (yet).</p>
                        <p>
                            If you've played this game before, <a class="label label-info" href="{{ path('playlog_new', { 'gameId': game.id }) }}">you may add a play here</a>
                        </p>
                    </div>
                {% endif %}
            </div>
            {#<div class="col-md-4">#}
            {#<h2>Expansions <span class="badge">{{ game.expansions|length }}</span></h2>#}
            {#<hr>#}
            {#<p>#}
            {#<div class="panel panel-default " style="background-color: #BFC9D2">#}
            {#<div class="panel-body">#}
            {#<a class="btn btn-primary" href="{{ path('add_expansion_to_game', { 'gameId': game.id}) }}">#}
            {#<i class="fa fa-plus"></i> <span class="adaptiveText">Add Expansion</span>#}
            {#</a>#}
            {#</div>#}

            {#</div>#}
            {#<ul class="list-group">#}
            {#{% if game.expansions|length > 0 %}#}
            {#{% for expansion in game.expansions %}#}
            {#<label>#}
            {#<li class="list-group-item">#}
            {#{{ expansion.name }}#}
            {#</li>#}
            {#</label>#}
            {#{% endfor %}#}
            {#{% endif %}#}
            {#</ul>#}
            {#</div>#}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#deleteBtn').click(function () {
                var playlogs = [];
                //Add all checked boxes with corresponding id's to array "playlogs"
                $.each($("input[name='playlog']:checked"), function () {
                    playlogs.push($(this).val());
                });
                var confirmText = "Are you sure you want to delete the selected plays?";
                if (confirm(confirmText)) {
                    $.ajax({
                        type: "POST",
                        url: '{{ path('playlog_delete_bulk') }}',//path to the route of PlayLogController->deleteBulkAction method
                        data: JSON.stringify(playlogs),
//                        data: plays: playlogs,
                        success: function () {
//                            alert("selected playlogs: " + playlogs.join(", "));
                            window.location.reload();
                        },
                    });
                }
                return false;
            });

        });

        $('.alert ').hide();
        $('.alert ').slideDown(1000);
    </script>
{% endblock javascripts %}