{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macro %}
{% block content %}

    <a class="btn btn-primary" href="{{ path('game_index') }}"><i class="fa fa-arrow-left"></i> My Game List</a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Game</h2>
                <h3> {{ game.name }}</h3>
                <p><a target="_blank" href="https://boardgamegeek.com/boardgame/{{ game.bggId }}"> More info ... </a></p>
                <div class="row">

                    <div class="col-md-3">
                        <div class="well">
                            <a class="btn btn-danger deleteBtn " gameId="{{ game.id }}" gameName="{{ game.name }}"
                               href=""><i class="fa fa-remove"></i> Remove
                            </a>
                            <a class="btn btn-primary"
                               href="{{ path('playlog_new', { 'gameId': game.id }) }}"> Log Play
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% if game.image %}
                        <div class="col-md-4  ">
                            <img src="{{ game.image }}" style="width:60%; border-radius: 6px;">
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        {% if plays == 1 %}
                            {{ plays }} play
                            <hr>
                        {% else %}
                            {{ plays }}<br><b>plays</b>
                            <hr>
                        {% endif %}
                    </div>
                    {% if game.playtime %}
                        <div class="col-md-3">
                            {{ playingTime }} minutes<br> <b>Playing Time</b>
                            <hr>
                        </div>
                    {% endif %}
                    {% if game.noOfPlayers %}
                        <div class="col-md-3">
                            {{ game.noOfPlayers }}<br> <b>Players</b>
                            <hr>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteBtn').click(function () {
                var gameId = $(this).attr('gameId');
                var confirmText = "Are you sure you want to delete the selected game - " + gameName + " - ?";
                if (confirm(confirmText)) {
                    $.ajax({
                        type: "POST",
                        url: '{{ path('remove_user_game') }}',//path to the route of PlayLogController->deleteBulkAction method
                        data: JSON.stringify(gameId),
                        success: function () {
                            //Redirect
                            $(location).attr('href', '{{ path('game_index') }}');
                            return false;
                        },
                    });
                }
                return false;
            });
        });


    </script>
{% endblock javascripts %}