{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macro %}
{% block content %}
    {{ macro.btnGoBack() }}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 ">

                <h2>Game</h2>
                <hr>
                {{ game.name }}
            </div>
            {% if game.playlogs|length %}
                <div class="col-md-6 ">
                    <h2>Playlogs <span class="badge">{{ game.playlogs|length }}</span></h2>
                    <hr>
                    {% for playlog in game.playlogs %}
                        {{ playlog.date|date('M-d-Y') }}<br>
                    {% endfor %}
                </div>
            {% else %}
                <div class="col-md-4 ">
                    <h2>Playlog list is empty </h2>
                    <hr>
                    <div class="alert alert-info" role="alert">
                        <p>You haven't played this game (yet).</p>
                        <p>
                            If you've played this game before, <a href="{{ path('playlog_new', { 'gameId': game.id }) }}">log it here</a>
                        </p>
                    </div>

                </div>
            {% endif %}

        </div>
    </div>




    {#{{ form_start(delete_form) }}#}
    {#<input class="btn btn-dang" type="submit" value="Delete">#}
    {#{{ form_end(delete_form) }}#}

{% endblock %}