{% extends 'base.html.twig' %}

{% block content %}

    <h1>Game</h1>
    <h2>Playlogs</h2>
    Number of times played: <span class="badge">{{ game.playlogs|length }}</span>
    <p>
    {% for playlog in game.playlogs %}
        {{ playlog.id }}{{ playlog.date|date('M-d-Y') }}<br>
    {% endfor %}
    </p>
    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ game.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>
                    {% if  game.type is not null  %}
                    {{ game.type.name}}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('game_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('game_edit', { 'id': game.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
