{% extends 'base.html.twig' %}
{#{% import "macros.html.twig" as macro %}#}

{% block content %}
    <div class="col-md-6 col-md-offset-2">
        <div class="row">
            <h3>Add new Expansion</h3>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <div class="row">
            <a href="https://boardgamegeek.com/" target="_blank" class="btn btn-primary"><i class="fa fa-external-link-square"></i> Go to Boardgamegeek.com</a>
        </div>
        {{ form_start(retrieveGameForm) }}
        <div class="row">
            <label>Bgg ID</label>
            {{ form_widget(retrieveGameForm.bgg_id_to_retrieve, {
                'attr': {
                    'class': 'form-control',
                    'id': 'fill',
                    'label': 'Bgg Id',
                    'placeholder': 'Boardgamegeek ID'
                }
            }) }}

            {{ form_widget(retrieveGameForm.isExpansion_to_retrieve, {
                'attr': {
                    'class': 'form-control',
                    'id': 'isExpansion_to_retrieve',
                    'label': 'Is expansion',
                    'placeholder': 'Is expansion'
                }
            }) }}
        </div>
        <div class="row">
            <span onclick="fill()" class="btn btn-success">Retrieve Expansion</span>
        </div>
        {{ form_end(retrieveGameForm) }}
    </div>
    <div class="col-md-6 col-md-offset-2">
        <img id="thumbnail" style="width: 100px;" src="">
        <h2 id="objectHeader"></h2>
        {{ form_start(fillGameForm) }}
        {{ form_end(fillGameForm) }}
    </div>
{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function fill() {
            var bggId = $('#form_bgg_id_to_retrieve').val();
            $.ajax({
                cache: false,
                type: "POST",
                dataType: "json",
                url: '{{ url('findGameByBggId') }}',
                data: {bggId: bggId,},    // Dit is versturen van data naar de service!
                success: function (game) {
                    $('#form_bgg_id_retrieved').val(bggId);
                    $('#form_bgg_id').val(bggId);
                    $('#form_name').val(game[0].name);
                    $('#form_playtime').val(game[0].playtime + " minutes");
                    $('#thumbnail').attr("src", game[0].image);
                    $('#form_image').val(game[0].image);
                    $('#form_no_of_players').val(game[0].min_players + "-" + game[0].max_players);
                    $('#form_isExpansion').val(game[0].isExpansion);
                    $('#form_isExpansion_to_retrieve').val(game[0].isExpansion);
                    if($('#form_isExpansion_to_retrieve').val() === 'true'){
                        $('#objectHeader').text('Expansion');
                    }else{
                        $('#objectHeader').text('Game');

                    }

//                    alert(game[0].isExpansion);
                },
                fail: function(){
                    $('#form_bgg_id').val().text('Check your bgg id');

                }


            });

        }
    </script>
{% endblock javascripts %}