{% extends 'base.html.twig' %}

{% block content %}
    <h1>Categories list</h1>
    <hr>
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <div class="btn-group pull-right">
                        {#<a class="btn btn-default btn-sm" href="{{ path('playlog_new') }}"><i class="fa fa-plus"></i> New playlog</a>#}
                    </div>
                </div>
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>Playlog</th>
                        {#<th>{{ knp_pagination_sortable(Playlogs, 'Type', 'type.name') }}</th>#}
                        <th>Actions</th>
                    </tr>

                    {% for category in categories %}
                        <tr>
                            <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.game.name }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-primary" href="{{ path('category_show', { 'id': category.id }) }}"><i
                                                class="fa fa-search"></i> Show</a>
                                    <a class="btn btn-primary" href="{{ path('category_edit', { 'id': category.id }) }}"><i
                                                class="fa fa-pencil"></i> Edit</a>

                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

{% endblock %}
