<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Symfony</title>
    <!-- Bootstrap Core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/scrolling-nav.css') }}" />
    <link rel="stylesheet" href="{{ asset('DataTables/datatables.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}" />


</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" class="background" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">

    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color: white;" class="navbar-brand page-scroll" href="{{ path('game_index') }}">
                <i style="color: #4c9ed9;" class="fa fa-th"></i>
                Game Stack</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Games <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('game_index') }}">Games list</a></li>
                        <li><a href="{{ path('game_new') }}">New game</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('tag_index') }}">Tag list</a></li>
                        <li><a href="{{ path('tag_new') }}">New Tag</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div id="content" class="container" style="background-color: white; ">
    <div style="background-color: white;">
        <div class="col-lg-12 col-md-offset-0">
                {% block content %}
                {% endblock content %}
        </div>
    </div>
</div>


<!-- jQuery -->
<script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('DataTables/datatables.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable').DataTable({
            "paging": false,
            "ordering": false,
            "responsive": true
        });

        var table = $('#example').DataTable();
        $('#searchDataTable').keyup(function () {
            table.search($(this).val()).draw();
        })

    });
</script>
</body>

</html>

