{% extends 'base.html.twig' %}

{% block content %}
        <div class="col-md-6 col-md-offset-2">
        <div class="row">
            <h3>Add new game</h3>
        </div>
        </div>
    <div class="col-md-6 col-md-offset-2">
        <div class="row">
            <a href="https://boardgamegeek.com/" target="_blank" class="btn btn-primary"><i class="fa fa-external-link-square"></i> Go to Boardgamegeek.com</a>
        </div>


        {{ form_start(retrieveGameForm) }}
        <div class="row">
            <label>Bgg ID</label>
            {{ form_widget(retrieveGameForm.bgg_id_to_retrieve, {
                'attr': {
                    'class': 'form-control',
                    'id': 'fill',
                    'label': 'Bgg Id',
                    'placeholder': 'Boardgamegeek ID'
                }
            }) }}
        </div>
        <div class="row">
            <span onclick="fill()" class="btn btn-success">Retrieve Game</span>
        </div>
        {{ form_end(retrieveGameForm) }}
    </div>
    <div class="col-md-6 col-md-offset-2">
        <img id="thumbnail" style="width: 100px;" src="">
        {{ form_start(fillGameForm) }}
        {{ form_end(fillGameForm) }}
    </div>
{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function fill() {
            var bggId = $('#form_bgg_id_to_retrieve').val();
            $.ajax({
                cache: false,
                type: "POST",
                dataType: "json",
                url: '{{ url('findGameByBggId') }}',
                data: {bggId: bggId},    // Dit is versturen van data naar de service!
                success: function (game) {
                    $('#form_bgg_id_retrieved').val(bggId);
                    $('#form_name').val(game[0].name);
                    $('#form_playtime').val(game[0].playtime + " minutes");
                    $('#thumbnail').attr("src",game[0].image);
                    $('#form_image').val(game[0].image);
                    $('#form_no_of_players').val(game[0].min_players + "-" + game[0].max_players);
                    $('#form_isExpansion').val(game[0].isExpansion);
                }
            });

        }
    </script>
{% endblock javascripts %}