{% extends 'base.html.twig' %}

{% block body %}
{% block content %}
<h1>Products list</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% if products %}
    {% for product in products %}
        <tr>
            <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
            <td>{{ product.name }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('product_new') }}">Create a new product</a>
    </li>
</ul>
{% endblock content %}
{% endblock %}
