{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macro %}
{% block content %}
    <a class="btn btn-primary" href="{{ path('game_index') }}"><i class="fa fa-arrow-left"></i> My Game List</a>
    {{ form_start(form.game) }}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Add Games To My List</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{ form_widget(form.game) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {{ macro.btnSubmit() }}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form.game) }}
    {{ dump() }}
    {% for game in bggGameList %}
        {{ game }}
    {% endfor %}

{% endblock content %}
{% block javascripts %}
    {{ parent() }}


    <script type="text/javascript" src="{{ asset('asset/chosen2/dist/js/select2.min.js') }}"></script>

    <script type="text/javascript">
        $('select').select2();
    </script>
{% endblock javascripts %}

