{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macro %}
{% block content %}
    <style>


        .select2 {
            width: 100%;

        }

        .select2-selection__choice__remove {

        }
    </style>
    {{ macro.btnGoBack() }}
    {{ form_start(form.game) }}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Add Games To My List</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{ form_widget(form.game) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{ macro.btnSubmit() }}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form.game) }}


{% endblock content %}
{% block javascripts %}
    {{ parent() }}


    <script type="text/javascript" src="{{ asset('asset/chosen2/dist/js/select2.min.js') }}"></script>

    <script type="text/javascript">

        $('select').select2({

            placeholder: 'Select an item',

            ajax: {

                url: '{{ path('user_games_json') }}',

                dataType: 'json',

                delay: 250,

                processResults: function (data) {

                    return {

                        results: data

                    };

                },

                cache: true

            }

        });

    </script>
{% endblock javascripts %}

