{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macro %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 ">
            <div class="col-md-6 ">
                <h2>Profile</h2>
                <hr>
                {{ app.user.username |raw|capitalize }}
            </div>
            <div class="col-md-6 ">
                <h2>placeholder</h2>
                <hr>
                placeholder
            </div>

        </div>
    </div>

    <script src="{{ asset('asset/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('asset/highcharts/highcharts-3d.js') }}"></script>
    <script src="{{ asset('asset/highcharts/modules/exporting.js') }}"></script>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 ">
            <h2>Games played</h2>
            <hr>

            <div id="container"></div>
            <div id="container" style="width:100%; height:400px;"></div>


        </div>
    </div>


    <script type="text/javascript">
        var labels = {{ games|json_encode()|raw }};
        var data = {{ gameplays|json_encode()|raw }};

        $(function () {
            var myChart = Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: labels
                },
                yAxis: {
                    title: {
                        text: ''
                    },
                    allowDecimals: false

                },
                series: [{
                    name: 'Plays',
                    data: data
                }]
            });
        });
    </script>
{% endblock %}