{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macro %}
{% block content %}
    {#<a class="btn btn-primary" href="{{ path('game_index') }}"><i class="fa fa-arrow-left"></i> My Game List</a>#}

    <div class="row">
        <div class="col-md-8 col-md-offset-2 ">
            <div class="col-md-6 ">
                <h2>Profile</h2>
                <hr>
                {{ app.user.username |raw|capitalize }}
            </div>
            <div class="col-md-6 ">
                <h2>placeholder</h2>
                <hr>
                placeholder
            </div>

        </div>
    </div>

    {{ dump() }}
    {#{% for log in playlogs %}#}
        {#{{ log.id }}<br>#}
    {#{% endfor %}#}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>


    <div class="row">
        <div class="col-md-4 col-md-offset-4 ">
            <div>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
        <script type="text/javascript">

//            var jsonData = $.ajax({
//                url: 'http://http://localhost/sf-boardgame/web/app_dev.php/game/json',
//                dataType: 'json',
//            }).done(function (results) {
//                var labels = [],data = []
//            }


                    var labels = {{ games|json_encode()|raw }};
                    {#var data = {{ playlogs|json_encode()|raw }};#}
                    console.log(labels);
                    var ctx = document.getElementById("myChart");
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
//                            labels: ["a","b"],
                            labels: labels,
                            datasets: [{
                                label: '# of plays',
                                data: [12, 19, 3, 5, 2, 3,4,5,6,7,8],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true
                                    }
                                }]
                            }
                        }
                    });
        </script>
{% endblock %}