{% extends 'base.html.twig' %}
{% block content %}
    <div class="col-md-4">
        <h1>Most played</h1>
        <div class="table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Game</th>
                    <th>Plays</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for suggestion in mostPlayedGames %}
                    <tr>
                        <td><a href="#" style="width: 100%;" class="btn btn-default"><span class="excerpt">{{ suggestion.name }}</span></a></td>
                        <td><span style="width: 100%;" class="btn btn-primary">{{ suggestion.plays }}</span></td>
                        <td><a href="#" style="width: 100%;" class="btn btn-danger hide-suggestion"><i class="fa fa-ban hide-suggestion"></i> <span class="adaptive-text">Hide Suggestion</span></a></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h1>Least played</h1>
        <div class="table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Game</th>
                    <th>Plays</th>
                </tr>
                </thead>
                <tbody>
                {% for suggestion in leastPlayedGames %}
                    <tr>
                        <td><a href="#" style="width: 100%;" class="btn btn-default">{{ suggestion.name }}</a></td>
                        <td><span style="width: 100%;" class="btn btn-primary">{{ suggestion.plays }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h1>Unplayed games</h1>
        <p>You haven't got any plays for these games. <br>Let's play a game, what do you say?</p>

        <div class="table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Game</th>
                </tr>
                </thead>
                <tbody>
                {% for suggestion in unplayedGames %}
                    <tr>
                        <td class="info"><a href="#" style="width: 100%;" class="btn btn-default">{{ suggestion.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

    <script type="text/javascript">
        $('document').ready(function () {
//            $('.excerpt').each(function () {
//                if ($('.excerpt').val().length > 5) {
//                    $(this).text($(this).text().substring(0, 8) + "...");
//                }
//            })

            $('.hide-suggestion').click(function(){
                alert("clicked");
            })

        });

    </script>
{% endblock content %}
