{% extends 'base.html.twig' %}

{% block content %}
{{ dump() }}
    <h1>Add playlog</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}


<ul>
    <li>
        <a href="{{ path('playlog_index') }}">Back to the list</a>
    </li>
</ul>
{% endblock %}

{%  block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{%  endblock stylesheets %}

{%  block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
{%  endblock javascripts %}

